{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div style="padding-top: 15px"><center><p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p></center></div>
{% endblock fos_user_content %}
