<div id="booking-calendar" class="anchor-profile"></div>

<div  class="row calendar1" style="margin:0px;">
    <div class="col-xs-6">
        <div  class="pull-left text-muted"><div class="color-swatch" style="background-color: #FFFFFF; border: solid 1px #ccc"></div>Available</div>
    </div>
    <div class="col-xs-6">
        <div class="pull-left text-muted"><div class="color-swatch" style="background-color: #A2A2A2"></div>Reserved</div>
    </div>
    
</div>


<div class="list-row">
    <div class="row" style="margin: 5px 0 20px 0 ;  ">
        <div class="col-md-12 col-xs-12" style="padding-left: 0">
            <div id="datepick-mobile" style="width: 100%"  class="pull-left"></div>
        </div>


    </div>


</div>





