<div id="globalnav-nav" class="pull-left hidden-xs" style="min-height: 900px;">
    <div>
        <img class="img-responsive" src="{{ asset( 'bundles/common/images/step-1.jpg' ) }}" alt="...">
    </div>
    <br>

    <div>
        <p class="bold_text_black">Vehicle Details</p>

        <p class="text-small">
            Enter the vehicle information that you want to show
            prospective buyers on your add."Vehicle Information"
            and "Contact Information" are the only required sec-
            tions, but the more details and photos you provide,
            the more shoppers will be attracted to you ad.
        </p>
    </div>
    <br>
    <a id="btnsavecontinue_1" type="" class="btn btn-primary"
            style="margin-left: 0px">
        SAVE AND
        CONTINUE
    </a>

    <div class="row line_with_image" style="margin-top: 100px ;margin-left: 1px; margin-right: 12px">
        <hr/>
    </div>
</div>
