<div id="globalnav-nav" class="pull-left hidden-xs" style="min-height: 900px;">
    <div>
        <img class="img-responsive" src="{{ asset( 'bundles/common/images/step-2.jpg' ) }}" alt="...">
    </div>
    <br>

    <div>
        <p class="bold_text_black">Upload Vehicles Photos
        </p>

        <p class="text-small">
            Shoppers are most attracted to ads with the most
            photos, so upload as many as possible to make your
            ads stand out even more.You can upload multiple
            photos at one time and change the display order of
            the photos.
        </p>
    </div>
    <br>
    <a id="btnsavecontinue_2" type="" class="btn btn-primary"
            style="margin-left: 0px">
        SAVE AND
        CONTINUE
    </a>

    <div class="row line_with_image" style="margin-top: 100px ;margin-left: 1px; margin-right: 12px">
        <hr/>
    </div>
</div>
