
body {
    background-color: #f1f1f1;
    font-family: 'Quattrocento Sans', sans-serif;
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 0;
    border-top: 2px solid #CCCCCC;
}

@media (max-width: 320px) {
   /* #main-logo {
    font-size: 23px;
    ]}*/

    #link_menu {
        float: right;
    }
}

/*h1 {
    font-weight: 800;
}*/

.bold_text {
    font-weight: 700;
    color: black;
}

.smaller {
    font-size: 72% !important;
    font-weight: bold;
}

.no_padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.no_margin {
    margin: 0 !important;
}

.no_decoration {
    text-decoration: none !important;
}

#header {
    background: none repeat scroll 0 0 #FFFFFF;
    left: 0;
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 2100;
    border-bottom: 1px solid black;
    /*margin-bottom: 20px;*/
}

#header #navbar li {
    font-size: 12px;
    text-transform: uppercase;
}

#header #navbar li a {
    padding: 15px 5px 15px 5px;
}

.header_nav {
    padding-bottom: 3px;
    padding-top: 3px;
    margin-bottom: 0px;
}


/*#header #logo {
    background: url("../img/logo.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: inline-block;
    height: 54px;
    margin: 12px 0 0;
    overflow: hidden;
    text-align: left;
    text-indent: -9999px;
    width: 195px;
}*/

.sidebar_panel {
    background-color: #f0f1f5;
    border : none !important;
    margin-bottom: 10px !important;
}

.sidebar_panel ul {
    list-style: none;
    padding-left: 5px;
}

.sidebar_panel ul a {
    text-decoration: none;
    font-size: 90%;
}

.badge {
    background-color: #777777;
    border-radius: 10px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 1;
    min-width: 10px;
    opacity: 0.5;
    padding: 2px 5px;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.btn {
    padding: 5px 7px;
    border-radius: 0px;
}

.list-group-item {
    border: 1px solid #dddddd;
    border-left: none !important;
    border-right: none !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;
}

#sidebar-right {
    background: -moz-linear-gradient(top, #e2e2e2 10%, #FFFFFF 60%, #e2e2e2 );
    background: -webkit-linear-gradient(top,#e2e2e2 10%, #FFFFFF 60%, #e2e2e2);
    background: -o-linear-gradient(top,#e2e2e2 10%, #FFFFFF 60%, #e2e2e2);
    background: linear-gradient(top,#e2e2e2 10%, #FFFFFF 60%, #e2e2e2);

}

.btn-danger {
    background-color: #cb2020;
    border-color: #cb2020;
    color: #FFFFFF;
}



.navbar-text {
    float: left;
    margin-left: 15px;
    margin-right: 8px;
}
.navbar-text {
    margin-bottom: 5px;
    margin-top: 6px;
}

#input_search li {
  /*min-width: 155px;*/
    margin-bottom: 5px;
    margin-top: 5px;
    min-height: 15px;
    /*border: 1px solid black;*/
}

#input_search li a {
    text-decoration: none;
    color:  black;
    font-size: 11px;
    padding: 1px 7px 0;
}

.container_box {
    background-color: white;
    border: none;
    border-radius: 0px;
    margin-bottom: 10px;
    position: relative;
    padding-top: 15px;
}

.container_box .top_box {
    min-height: 40px;
    border-bottom: 1px solid black;
    vertical-align: middle;
    clear: both;
    content: "";
    display: block;
    padding: 16px 0;
    position: relative;
}

.container_box .top_box {
    padding: 5px 0;
}

.container_box .top_box button {
    padding: 0 3px;
    background-color: black;
    color:white;
    text-transform: uppercase;
}

.container_box .middle_box {
    padding-top: 10px;
    padding-bottom: 10px;
}

.thumbnail {
    background-color: #FFFFFF;
    border: none;
    border-radius: 0;
    display: block;
    line-height: 1.42857;
    padding: 0;
    transition: border 0.2s ease-in-out 0s;
    margin-bottom: 0px;
    position: relative;
}

.divider-vertical {
    height: 50px;
    border-right: 1px solid #7E7E7E;
    /*border-left: 1px solid #7E7E7E;*/
    margin-top: 5px;
    margin-bottom: 5px;
    margin: 0px 5px 0px 5px;
    border-right-color: #eef8f1;
}

#viewLocalOffer {
    width: 100%;
    margin-bottom: 100px;
    text-transform: uppercase;
    font-size: 75%;
    text-align: right
}

#viewLocalOffer span {
    font-weight: bold;
    padding-left: 4px;
    float:left;
}

.sidebar_image {
    width: 100%;
    margin-bottom: 12px;
    margin-top: 12px;
}


@media (max-width: 991px) {
    #header .navbar-header {
        float: none;
    }
    #header .navbar-toggle {
        display: block;
    }
    #header .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    #header .navbar-collapse.collapse {
        display: none!important;
    }
    #header .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    #header .navbar-nav>li {
        float: none;
    }
    #header .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #header .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    #header .navbar-collapse.collapse.in {
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }


}

@media (min-width: 768px) and (max-width: 979px) {

    .top_box {
        margin-bottom: 10px;
    }

    .contact_data {
        margin-top: 10px;
        padding-right: 0px;
    }

    .caption {
        float: none;
        margin: auto;
    }

    #viewLocalOffer {
        float: none;
        margin: auto;
        width: 50%;
    }

    #sidebar-right .sidebar_image {
        width: 50%;
    }

}

.logo {
    position: relative;
    float: left;
    width: 100%;
    height: 135px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.row_cars {
    /* margin-top: 15px;*/
}

.row_cars .middle {
    padding-left: 3px;
    padding-right: 3px;
}

.row_cars .first {
    padding-left: 0px;
    padding-right: 6px;

}

.row_cars .last {
    padding-left: 6px;
    padding-right: 0px;
}

.views {
    color: #ffffff;
    position: absolute;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.63);
    width: 56px;
    height: 36px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pagination {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    padding: 0;
}

nav ul {
    float: left !important;
}

nav ul.first label {
    padding-left: 0px;
}

.nav_loading {
    float: right !important;
}

.borderBoxShadows {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    box-shadow: 1px 2px 9px rgba(66, 65, 65, 0.176);
    -webkit-box-shadow: 1px 2px 9px rgba(66, 65, 65, 0.176);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

#input_search ul{
    width: 100%;
    min-width: 100%;
}

#input_search ul li{
    width: 100% !important;
}

#input_search label {
    margin-left: 14px !important;
    font-size: 11px;
    font-weight: 700;
    color: black;
    margin-top: 9px !important;
    margin-bottom: 4px !important;
}

.list-group {
    margin-bottom: 0px;
}

.list-group-item ul{
    width: 100%;
    min-width: 100%;
}

.list-group-item ul li{
    width: 100% !important;
}

.list-group-item .list-group-item-text {
    /*margin-bottom: 5px;*/
    margin-top: 8px;
    min-height: 26px;
    border: 1px solid rgb(197, 187, 187);
    text-align: right;
    list-style: none;
}

.list-group-item .list-group-item-text a {
    text-decoration: none;
    color:  black;
    font-size: 11px;
    padding: 1px 7px 0;
}

.list-group-item .list-group-item-text a span {
    font-size: 10px;
    padding: 5px;
    width: 80%;
    position: relative;
    text-align: left;
}

.list-group-item .list-group-item-heading {
    margin-bottom: 0px;
}

.list-group-item p {
    /*margin-bottom: 8px;*/
}

.list-unstyled {
    margin-bottom: 0px;
}

.close_filter_box:hover {
    cursor: pointer;
}

.panel-group{
    margin-bottom: 0px;
    font-size: 20px;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.panel-heading {
    padding: 15px 15px
}

.list-group {
    margin-top: 2px;
}

.list-item {
    /*border: 1px solid #dddddd;
    border-left: none !important;
    border-right: none !important;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 0px !important;*/
    padding: 10px 0px;
    margin-left: 0px;
    margin-right: 3px;
    font-size: 14px;
    border: 0px ;
    border-radius: 0px;
}

.list-item a {
    text-decoration: none;
    color: #000000;
    padding-left: 2px;
}

.list-item.active{
    background-color: #f5f5f5;
    color: #f83838;
}

.list-item.active a{
    color: #f83838;
}

.list-item .glyphicon{
    color: #d53232;
    font-size: 10px;
    margin-left: 5px;
}

.list-item .glyphicon:not(.active){
    visibility: hidden;
}

.list-item.active .glyphicon{
    visibility: visible;
}

.list-item:focus {
    background-color: #ffffff;
}

.btn-group a{
    /*width: 83%;*/
    text-align: left;
    padding-left: 10px;
}

.btn-group > .btn + .dropdown-toggle {
    padding-right: 8px;
    padding-left: 5px;
    background-color: #838081 !important;
    border: 1px solid #777475;
}

.btn-group > .btn + .dropdown-toggle .caret{
    color: #ffffff;
}

.btn-group > .btn:not(.dropdown-toggle) {
    background-color: #d1d1d1;
    background-color: -moz-linear-gradient(top, #FFFFFF,  #d1d1d1 );
    background: -webkit-linear-gradient(top, #FFFFFF,  #d1d1d1);
    background: -o-linear-gradient(top, #FFFFFF,  #d1d1d1);
    background-color: linear-gradient(top, #FFFFFF,  #d1d1d1);
}

.price_text {
    color: #5A5A5A;
    font-weight: 800;
    font-size: 18px;
}

.webui-popover {
    max-width: 100%;
    margin-left: 16px !important;
}

.bdstyle_img img{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 2px solid #ffffff;
    border: 2px solid transparent;
    padding: 7px;
}    

.bdstyle_img:hover {
    cursor: pointer;
}

.bdstyle_img .glyphicon{
    color: #d53232;
    font-size: 10px;
    display: none;
    position: absolute;
    left: 19px;
    top: 5px;
}
.bdstyle_img img.active {
    border: 2px solid rgb(207, 207, 207);
}
.bdstyle_img.active .glyphicon {
    display: block;
}

.btn-primary {
    background-color:#AE0303;
    border-color: #AE0303;
    box-shadow: none;
    padding: 5px 13px;
}

.btn-primary:hover {
    color: #fff;
    background-color:#D90000;
    border-color: #D90000;
}

.btn-primary.focus, .btn-primary:focus {
    color: #fff;
    background-color:#AE0303;
    border-color: #AE0303;
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #f10000;
    border-color: #f10000;
}

.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open > .dropdown-toggle.btn-primary.focus, .open > .dropdown-toggle.btn-primary:focus, .open > .dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #f10000;
    border-color: #f10000;
}

.btn-primary.active, .btn-primary:active, .open > .dropdown-toggle.btn-primary {
    background-image: none
}

.btn-primary.disabled, .btn-primary.disabled.active, .btn-primary.disabled.focus, .btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover, .btn-primary[disabled], .btn-primary[disabled].active, .btn-primary[disabled].focus, .btn-primary[disabled]:active, .btn-primary[disabled]:focus, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active, fieldset[disabled] .btn-primary.focus, fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus, fieldset[disabled] .btn-primary:hover {
    background-color: #f10000;
    border-color: #f10000;
}

.btn-primary .badge {
    background-color: #f10000;
    border-color: #f10000;
}

#compare_panel {
    background-color: #a1a1a1;
    padding: 20px;
    color: #ffffff !important;
}

.compare_cars_photo {
    background-color: #ffffff;
    width: 95px;
    height: 78px;
    margin-right: 25px;
    float: left;
    position: relative;
   /* background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;*/
}

.reset {
    position: absolute;
    background-color: #ffffff;
    width: 17px;
    height: 17px;
    left: 91%;
    top: -10%;
    color: #000000;
    text-align: center;
    font-size: smaller;
}

.reset:hover {
    cursor: pointer;
}

#clearAllCompare:hover {
    cursor: pointer;
}

.list_styled {
    -webkit-padding-start: 20px;
    list-style-type: disc;
}

.icon_facebook {
    /*Fb-like-small.jpg*/

}

label.saved {
    color: #989898;
    text-transform: uppercase;
}

label.saved:hover{
    cursor: default;
}

#confirm_added .modal-header {
    min-height: 31px;
    border: none;
    padding: 0px;
}

#confirm_added .modal-header a {
    font-size: 13px;
}

#confirm_added .modal-dialog {
    margin-top: 94px;

}

#confirm_added .modal-content {
    border-radius: 0px;
}

#confirm_added .modal-body {
    padding-top: 0px;
    padding-bottom: 4px;
}

#confirm_added .modal-body .modal-body-info {
    padding: 15px 15px;
}

#confirm_added .modal-body .modal-body-info > p {
    margin: 0;
    line-height: 1.42857143;
    background-color: rgb(200, 206, 255);
    padding: 2px 5px;
    font-weight: bold;
    color: rgb(73, 72, 72);
}

#confirm_added .modal-body .thumbnail {
    padding: 0px 15px;
}

#confirm_added .modal-body .modal-body-car-info p {
    padding: 7px 10px;
    margin-bottom: 0px;
    border: 1px solid grey;
}

#confirm_added .modal-body .modal-body-notes {
    margin-top: 20px;
}

#confirm_added .modal-body .modal-body-notes textarea {
    width: 100%;
}

#confirm_added .modal-body button {
    padding: 5px 20px !important;
}

#registerlogpopover_content .btn-primary {

}

.hr_text {
    position: relative;
    left: 47%;
    padding-left: 2px;
    padding-right: 2px;
    background-color: white;
    bottom: 11px;
}

