
<select id="vehicle_vehiclesinformation_model" class="form-control" required="required"
        name="vehicle[vehiclesinformation][model]">

    <option selected="selected" value=""></option>
    <option value="1"></option>
    <option value="2"></option>
    <option value="3"></option>
    <option value="4"></option>
    <option value="5"></option>
    <option value="6"></option>
    <option value="7"></option>
    <option value="8"></option>
    <option value="9"></option>
    <option value="10"></option>
    <option value="11"></option>
    <option value="12"></option>
    <option value="13"></option>
    <option value="14"></option>
    <option value="15"></option>
    <option value="16"></option>
</select>