<div class="container-fluid hidden-xs">
    <div id="carousel-example-generic" class="carousel slide fixed-margin" data-ride="carousel" style=" margin-top: 86px;">
  <!-- Indicators -->
   
  <div  class="row ">
      
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      
      
     <div class="item active">
         
      <img src="{{ asset('bundles/common/images/help-banner.jpg') }}" />
      <div class="carousel-caption">
        
            
      </div>
    </div>
      
    
  </div>
  </div>
  
</div>
    
</div>
      <div class="container-fluid visible-xs">
          <div class="fixed-margin-xs"></div>
          
      </div>
