<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
        <title>Homeescape</title>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
        <style type="text/css">
            div, p, a, li, td { -webkit-text-size-adjust:none; }
            .ReadMsgBody{width: 100%; background-color: #f3f3f3;}
            .ExternalClass{width: 100%; background-color: #f3f3f3;}
            
            body{width: 100%; 
                 height: 100%; 
                 background-color: #f3f3f3; 
                 margin:0; 
                 padding:0; 
                 -webkit-font-smoothing: antialiased;               
                 font-family: 'Open Sans', sans-serif; 
                 color: #222;
                 
                }
             
                
            html{width: 100%;}

            a{
                text-decoration: none;
            }
            .hover:hover {opacity:0.90;filter:alpha(opacity=90);}

        </style>


    </head>
    <body>

        <table style="width: 100%">
            <tr  style="border: 1px solid #e7eeee; border-radius: 5px; background-color: #FFF;width: 100%;margin-right: auto;margin-left: auto;">
                <td>
                    <table style="width: 100%">
                <tr style="width: 100%;">
                    <td  style="padding-bottom: 8px; border-bottom: 3px #2c9ec8 solid; text-align: right;width: 100%;padding-top: 20px;">
                        <img src="http://homeescape.com/demo/web/bundles/common/images/logo.png" alt="Homeescape" border="0" style="padding-right: 67px;">
                    </td>
                </tr>
                </table>
                    <table style="width: 100%; ">
                <tr style="width: 100%;">

                    <td style="max-width: 90%; padding-top:30px ;padding-bottom: 30px; text-align: left;width: 100%;padding-right: 2%;padding-left: 2%;">
                        <h1 style="font-family: 'Open Sans', sans-serif;
                            padding-bottom: 10px;
                            font-size: 20px;color: #222">Thank you for registering with Home Escape. </h1>
                        <p style="color: #222">Hi <span style="font-size: 14px; color: #555; cursor: default">{{user}}</span>, welcome to Home Escape! Home Escape is one of the fastest growing peer-to-peer rental travel sites, connecting travelers to local accommodations and making hotel hassles a thing of the past.</p>
                        <a  href="{{url}}"  style="display: inline-block;
                           padding: 6px 12px;
                           margin-bottom: 0;
                           font-size: 14px;
                           font-weight: normal;
                           line-height: 1.42857143;
                           text-align: center;
                           white-space: nowrap;
                           vertical-align: middle;
                           cursor: pointer;
                           -webkit-user-select: none;
                           -moz-user-select: none;
                           -ms-user-select: none;
                           user-select: none;
                           background-image: none;
                           border: 1px solid transparent;
                           background-color:#39b1dc;
                           border-color: #39b1dc;
                           color: #FFFFFF;
                           text-decoration: none;
                           border-radius: 4px;">CONFIRM YOUR ACCOUNT</a>
                           <p style="margin-top: 20px; color: #222">Home Escape is a 100% FREE listing site, so please play fair and get the latest news by following us on Facebook: <a href="https://www.facebook.com/homeescape">https://www.facebook.com/homeescape</a> </p> 

                    </td>
                       </tr>
                    </table>
                    <table style="width: 100%; ">       
                       <tr style="max-width: 90%; padding:30px 60px; text-align: center; background-color:#F4F4F4;width: 100%; ">
                        <td style="width: 100%;padding-right: 2%;padding-left: 2%;">    
                     <p style="text-align: center;color: #222">© 2015 - HomeEscape.com Inc. 17401 NW 2nd Ave Ste#4 Miami Gardens FL 33169</p>
                               <p  style="text-align: center;color: #222">Please add us to your address book to ensure you continue receiving HomeEscape emails.</p>
                               <p  style="text-align: center;color: #222"><a href="http://homeescape.com/demo/web/">View our Privacy Statement </a>| <a href="http://homeescape.com/demo/web/">Contact Us </a>| <a href="http://homeescape.com/demo/web/">Terms & Conditions</a></p>
                </td>    
                </tr>
                </table>
                
                 </td>
               
            </tr>

        </table>

    </body>
</html>
