<div class="container-fluid">
<div class="container">
    
    
    <div class="row">
        <div class="col-xs-12 col-md-12 col-sm-12 text-center">
            <h1>Help Center</h1>
        </div>
        <div class="col-xs-12 col-md-12 col-sm-12 text-center">
            <img src="{{ asset('bundles/common/images/help-center-banner.jpg') }}" class="" />
        </div>
        
    </div>
        <div class="row" style="margin-top: 40px; margin-bottom: 20px">
        <div class="col-xs-12 col-md-6 col-sm-6">
            <h1>For Travelers:</h1>
            <div class="row" >
                <div class="col-xs-12 col-md-12 col-sm-12" style="margin-top: 10px">
                    <p>
                        <span class="blue-title">How do I prevent fraud when booking a trip?</span> We screen home owners as they list their properties, but it is recommended that you do some research and speak to the home owner or property manager prior to payment. 
                    </p>
                </div>
                 <div class="col-xs-12 col-md-12 col-sm-12" style="margin-top: 10px">
                    <p>
                        <span class="blue-title">How do I book a rental? </span> Once you have found property you are interested in, simply select "Book Now" and follow the prompts.  
                    </p>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12" style="margin-top: 10px">
                    <p>
                        <span class="blue-title">How can I pay? </span> It is up to the property owner or manager to define their preferred method of payment. It is not recommended to send cash, money orders, or personal checks.  
                    </p>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12" style="margin-top: 10px">
                    <p>
                        <span class="blue-title">What if I need to cancel a trip? </span> Each property owner has their own cancellation policies. Check with the listing owner when you book for any policies you should be aware of, including cancellation.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6">
            <h1>For Property Owners:</h1>
            <div class="row" >
                <div class="col-xs-12 col-md-12 col-sm-12" style="margin-top: 10px">
                    <p>
                        <span class="blue-title">Is it really free to list my property with Home Escape? </span> Yes, there are no hidden costs so you are able to list your property risk free.
                    </p>
                </div>
                 <div class="col-xs-12 col-md-12 col-sm-12" style="margin-top: 10px">
                    <p>
                        <span class="blue-title">How can I manage my listing? </span> Listings are managed through your individual account. Once you are logged in, you are able to add, edit or deactivate a listing.
                    </p>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12" style="margin-top: 10px">
                    <p>
                        <span class="blue-title">Is there a separate login for home owners? </span>No, this way you are able to list a property and book a trip both from the same place.
                    </p>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12" style="margin-top: 10px">
                    <p>
                        <span class="blue-title">How can I get my property listed in the featured section? </span> Please <a href="{{ path('contact_us') }}">contact our team</a> to go over the options.
                    </p>
                </div>
                <div class="col-xs-12 col-md-12 col-sm-12" style="margin-top: 10px">
                    <p>
                        <span class="blue-title">How do I issue a refund to a customer? </span> Secure payment arrangements should be decided with the traveler. HomeEscape recommends using trusted payment portals to manage payments and refunds.
                    </p>
                </div>
            </div>
        </div>
    </div>

 </div>

</div>   








