<div class="container-fluid hidden-xs" style="margin-bottom: 30px">
    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
   
  <div  class="row ">
      
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
      <div class="item active">
      <img src="{{ asset('bundles/common/images/Slide3.jpg') }}" title="Vacation Rentals Downtown" alt="Vacation Rentals Downtown"/>
      <div class="carousel-caption">
        
      </div>
    </div>
      
     <div class="item">
         
      <img src="{{ asset('bundles/common/images/home.jpg') }}" title="Vacation Rentals Lake House" alt="Vacation Rentals Lake House"/>
      <div class="carousel-caption">
        
            
      </div>
    </div>
      <div class="item">
      <img src="{{ asset('bundles/common/images/Slide2.jpg') }}" title="Vacation Rentals Beach House" alt="Vacation Rentals Beach House"/>
      <div class="carousel-caption">
        
      </div>
    </div>
      
      
    
  </div>
  </div>
  
</div>
    
</div>
      <div class="container-fluid visible-xs">
          <div class="fixed-margin-xs"></div>
          
      </div>
