<div class="container-fluid">
    <div class="container">


        <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 text-left" style="padding-bottom: 20px">
                <h1>Privacy Policy</h1>
            </div>
            
            <div class="col-xs-12 col-md-12 col-sm-12 text-left">
                <p>This privacy policy has been compiled to better serve those who are concerned with how their 'Personally identifiable information' (PII) is being used online. PII, as used in US privacy law and information security, is information that can be used on its own or with other information to identify, contact, or locate a single person, or to identify an individual in context. Please read our privacy policy carefully to get a clear understanding of how we collect, use, protect or otherwise handle your Personally Identifiable Information in accordance with our website.</p>
                
            </div>

        </div>
           <div class="row">
            <div class="col-xs-12 col-md-12 col-sm-12 text-left" style="padding-bottom: 10px">
                <h2 class="blue-title">What personal information do we collect from the people that visit our blog, website or app?</h2>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 text-left">
                <p>When ordering or registering on our site, as appropriate, you may be asked to enter your name, email address, mailing address, phone number or other details to help you with your experience.</p>
                
            </div>

        </div>
           <div class="row">
            
            <div class="col-xs-12 col-md-12 col-sm-12 text-left" style="padding-bottom: 10px">
                <h2 class="blue-title">When do we collect information?</h2>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 text-left">
                <p>We collect information from you when you register on our site, subscribe to a newsletter, fill out a form or enter information on our site.</p>
            </div>
           
            </div>    
        
        
        <div class="row">
            
            <div class="col-xs-12 col-md-12 col-sm-12 text-left" style="padding-bottom: 10px">
                <h2 class="blue-title">How do we use your information?</h2>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 text-left">
                <p>We may use the information we collect from you when you register, make a purchase, sign up for our newsletter, respond to a survey or marketing communication, surf the website, or use certain other site features in the following ways:</p>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 text-left">
                <ul style="  list-style-type: disc;">
                    <li>To personalize user's experience and to allow us to deliver the type of content and product offerings in which you are most interested.</li>
                    <li>To improve our website in order to better serve you.</li>
                    <li>To allow us to better service you in responding to your customer service requests.</li>
                    <li>To administer a contest, promotion, survey or other site feature.</li>
                    <li>To send periodic emails regarding your order or other products and services.</li>
                   
                    
                    
                </ul>
            </div>
           
            </div>
            <div class="row">
            
            <div class="col-xs-12 col-md-12 col-sm-12 text-left" style="padding-bottom: 10px">
                <h2 class="blue-title">How do we protect visitor information?</h2>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 text-left">
                <p>We do not use vulnerability scanning and/or scanning to PCI standards. We use regular Malware Scanning.</p>
                <p>Your personal information is contained behind secured networks and is only accessible by a limited number of persons who have special access rights to such systems, and are required to keep the information confidential. In addition, all sensitive/credit information you supply is encrypted via Secure Socket Layer (SSL) technology.</p>
                <p>We implement a variety of security measures when a user enters, submits, or accesses their information to maintain the safety of your personal information.</p>
                <p>All transactions are processed through a gateway provider and are not stored or processed on our servers.</p>
            </div>
           
            </div>
        
        <div class="row" style="margin-bottom: 40px">
            
            <div class="col-xs-12 col-md-12 col-sm-12 text-left" style="padding-bottom: 10px">
                <h2 class="blue-title">Do we use 'cookies'?</h2>
            </div>
            <div class="col-xs-12 col-md-12 col-sm-12 text-left">
                <p>Yes. Cookies are small files that a site or its service provider transfers to your computer's hard drive through your Web browser (if you allow) that enables the site's or service provider's systems to recognize your browser and capture and remember certain information. For instance, we use cookies to help us remember and process the items in your shopping cart. They are also used to help us understand your preferences based on previous or current site activity, which enables us to provide you with improved services. We also use cookies to help us compile aggregate data about site traffic and site interaction so that we can offer better site experiences and tools in the future.</p>
                </div>
           
            </div>
        </div>
        
        
        

    </div>

</div>   





<script type="text/javascript">
    jQuery(document).ready(function () {

        jQuery('#contactfront_userType input').change(function () {

            if (jQuery(this).val() === '0') {
                jQuery('.side-image img').attr('src', "{{ asset('bundles/common/images/contact-traveler-img.jpg')}}");
            } else if (jQuery(this).val() === '1') {
                jQuery('.side-image img').attr('src', "{{ asset('bundles/common/images/contact-owner-img.jpg')}}");
            }

        });

    });




</script>


