<div class="footer-linkpile-login container-fluid">
    <div class="container">
        <div class="row">
            
            <div class="col-xs-12  col-md-12">
                
                    
                    
                    
                   <div id="shadow" ></div> 
                    
                    
                    
             
            </div>
            
            <div class="col-xs-12  col-md-12 text-center" style="margin-top: 10px">
                  
                <span>Use of this Web site constitutes acceptance of the FreeAutoListing.com <a href="{{ path('terms') }}">Terms and Conditions</a> and <a href="{{ path('privacy_policy') }}">Privacy Policy</a>.<br>© Copyright FreeAutoListing.com, Inc. All rights reserved.</span>
                    
            </div>
            
            
        </div>
    </div>
</div>
