<nav class="navbar navbar-fixed-top"
     style="background-color: black;min-height: 18px; margin-bottom: 0px; position: relative">
</nav>
<header id="header" style="border-bottom: 2px solid #D5D5D5">
    <div class="container">
        <nav class="navbar header_nav" style="margin-bottom: 10px;">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="navbar-header col-md-3 col-sm-12 col-xs-12 no_padding">
                        <div class="col-sm-6 col-xs-3 pull-right">
                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                                    data-target="#navbar"
                                    aria-expanded="false" aria-controls="navbar">
                                <span class="sr-only">Toggle navigation</span>
                                <img src="{{ asset('bundles/common/images/home/menu-icon.png') }}" alt=" "/>
                            </button>
                        </div>
                        <div class="col-md-12 col-xs-9 col-sm-6 no_padding" style="padding-top: 8px">
                            <a href="{{ path("app_homepage") }}">
                                <img src="{{ asset('bundles/common/images/search/logo.png') }}" alt=" "
                                     style="width: 92%;"/>
                            </a>
                        </div>
                    </div>
                    <div id="navbar" class="navbar-right navbar-collapse collapse col-md-9 col-sm-6 col-xs-10">
                        <ul class="nav navbar-nav navbar-right">
                           <li><a href="#">SUPPORT</a></li>
                            <li><a href="#">CONTACT</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>