{% trans_default_domain 'FOSUserBundle' %}
<style>
    hr {
        width: 100%;
        margin-bottom: 0px;
        border-color: #D5D5D5;
        border-bottom: 1px solid #D5D5D5;
    }

    textarea.form-control {
        height: 170px;
    }

    .form-control {
        border-radius: 0;
    }

    label {
        padding-right: 15px
    }

    .comillas {
        color: black;
        font-weight: bold;
    }

</style>
<div class="row" style="margin-top: 25px">
    <div class="container">
        <div class="col-md-3 visible-lg visible-md">
            <div class="col-xs-12 col-sm-6 col-md-12 no_padding">
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

                <!-- FreeAutoListing Car Profile -->

                <ins class="adsbygoogle"

                     style="display:block"

                     data-ad-client="ca-pub-7661672510407172"

                     data-ad-slot="3129379241"

                     data-ad-format="auto"></ins>

                <script>

                    (adsbygoogle = window.adsbygoogle || []).push({});

                </script>
            </div>
        </div>
        <div class="col-md-9" style="padding-left: 0px; !important;padding-right: 0px; !important;">
            <div class="col-md-12 text-left" style="padding-left: 20px; !important;padding-right: 20px;!important;">
                <p style="font-size: 16px;font-weight: 700">About FreeAutoListing</p>
            </div>
            <div class="col-md-12 text-left" style="padding-left: 20px; !important;padding-right: 20px; !important;">

                <p>
                    Our mission at FreeAutoListing is to be your ultimate online solution for buying and selling new,
                    certified and used cars.Our site is
                    designed to give you mor control of the buying process an make finding a vehicle easier than ever
                    before.
                </p>

                <p style="margin-top: 25px;margin-bottom: 25px">
                    Whether you're shopping for a new, certified and used car, our website offers you these benefits:
                </p>

                <ul class="list-unstyled" style="margin-left: 15px">
                    <li><span class="comillas">» </span>The largest selection of vehicle inventory from
                        dealers and private sellers.
                    </li>
                    <li><span class="comillas">» </span>The most comprehensive selection of buying and selling
                        tips.
                    </li>
                    <li><span class="comillas">» </span>The most complete research and compare tools, including
                        reviews, photos, videos and more.
                    </li>
                    <li><span class="comillas">» </span>Vehicle pricing, including seller specials and dealer
                        discounts.
                    </li>
                    <li><span class="comillas">» </span>Safety information and vehicle history reports.</li>
                    <li><span class="comillas">» </span>Help with finance, insurance and warranty programs.
                    </li>
                </ul>

                <p style="margin-top: 25px;margin-bottom: 25px">
                    Not sure which type of car you want? That'okay. FreeAutoListing lets you research and compare new,
                    certified and used cars by researching
                    for body type, mileage, price and numerous other criteria. Our Lifestyle Centers allow you tu locate
                    vehicles that meet you needs
                    and compare them side by side.
                </p>

                <p style="margin-bottom: 25px">
                    FreeAutoListing is the only website with more than 3 millions vehicle listings from 40,000 dealers
                    and 250,000 private owners. We provide
                    the largest selection of vehicles and attract more than 14 millions qualified buyers each month.

                </p>

                <a style="margin-bottom: 50px" href="{{ path('app_homepage') }}">Find your next car on
                    FreeAutoListing</a>

                <div class="col-md-12 text-left" style="margin-top: 20px;padding-left: 0px; !important;padding-right: 0px;!important;">
                    <div class="col-md-4 text-left" style="margin-top: 20px;padding-left: 0px; !important;">
                        <a style="margin-bottom: 50px; font-size: 18px" href="#">Give Us Your Feedback</a>
                        <p>Tell you what you think about the site</p>
                    </div>
                    <div class="col-md-4 text-left" style="margin-top: 20px;padding-left: 0px; !important;">
                        <a style="margin-bottom: 50px; font-size: 18px" href="#">Advertising Opportunities</a>
                        <p>Local, regional and national advertising programs</p>
                    </div>
                    <div class="col-md-4 text-left" style="margin-top: 20px;padding-left: 0px; !important;padding-right: 0px;!important;">
                        <a style="margin-bottom: 50px; font-size: 18px" href="#"> Become a FreeAutoListing Dealer</a>
                        <p>Learn how you can list your cars on Autotrader</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12 visible-xs visible-sm" style="margin-top: 15px">
        <div class="col-xs-12 col-sm-12  no_padding">
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

            <!-- FreeAutoListing Car Profile -->

            <ins class="adsbygoogle"

                 style="display:block"

                 data-ad-client="ca-pub-7661672510407172"

                 data-ad-slot="3129379241"

                 data-ad-format="auto"></ins>

            <script>

                (adsbygoogle = window.adsbygoogle || []).push({});

            </script>
        </div>
    </div>
</div>