<div id="container" class="container-fluid properties-container">
      
    <div class="row" style="margin: 20px 10px 0 ">
                    <div class="col-xs-12 col-md-12">
                       <div class="alert alert-info">Comming soon</div>
                    </div>
                </div>
</div>