<div class="modal fade" id="myModalSupport" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Contact HomeEscape Support</h4>
            </div>
            <div class="modal-body">
                <form id="formSupportContact" action="{{ path('contact_owner_support') }}" method="POST" class="form-horizontal">
                    
                    <div class="form-group" style="margin-bottom: 10px">
                        <div class="col-sm-12 col-xs-12 text-left">
                            <label>Message</label>
                        </div>
                        <div class="col-sm-12 col-xs-12">
                            <textarea class="form-control" id="mensaje" name="mensaje"></textarea>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-md-7 col-sm-7 col-xs-12"><div id="error"></div></div>
                    <div class="col-md-5 col-sm-5 col-xs-12">
                        <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary confirm-send">Contact</button>   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<script type="text/javascript">

    jQuery(document).ready(function () {



        function disableFormContactReservation() {
            jQuery('#myModalSupport #formSupportContact').find('textarea').attr('disabled', 'disabled')
            jQuery("#myModalSupport #formSupportContact").css("opacity", 0.37);
        }



        function enableFormContactReservation() {
            jQuery('#myModalSupport #formSupportContact').find('textarea').val('');
            jQuery('#myModalSupport #formSupportContact').find('textarea').removeAttr('disabled');
            jQuery("#myModalSupport #formSupportContact").css("opacity", 1);
        }

        function submitFormContactReservation() {

            jQuery.ajax({
                statusCode: {
                    500: function () {
                        //enableFormConfirmReservation();
                        jQuery('#myModalSupport #error').html("<span class='glyphicon glyphicon-warning-sign' style='margin-right:15px;color:#d9534f'></span><span class='text-danger'>There was an error, try again</span>");
                    }
                },
                url: jQuery('#myModalSupport #formSupportContact').attr('action'),
                type: "POST",
                data: {mensaje: jQuery('#mensaje').val()},
                async: false,
                success: function (response) {
                    enableFormContactReservation();
                    jQuery('#myModalSupport').modal('hide');
                }
            });
        }


        jQuery('#myModalSupport .confirm-send').click(function (e) {
           
            validateFormContact();

        });

  jQuery('#myModalSupport').find('textarea').each(function(){
    jQuery(this).focusout(function(){
    jQuery(this).popover('destroy');
    });
    });


        function validateFormContact() {
            var bValid = true;
            bValid = bValid && checkLength(jQuery('#myModalSupport #mensaje'), 5, 500);
            if (bValid) {
                disableFormContactReservation();
                submitFormContactReservation();
            }

        }
        
          function checkLength(o, min, max) {
            if (o.val().length < min) {
            createPopover(o, 'Please fill out this field');
                    return false;
            } else {
            return true;
            }
            }
            
                function createPopover(elem, text){
                elem.attr('data-toggle', 'popover');
                    elem.attr('data-placement', 'bottom');
                    elem.attr('data-content', text);
                    elem.attr('data-container', 'body');
                    elem.popover();
                    elem.trigger('click');
                    elem.focus();
            }

    });






</script>