<div id="container" class="container-fluid properties-container">
      
    <div class="row" style="margin: 0px 0px 0px 10px">
                    <div class="col-xs-12 col-md-12">
                        <div class="form-title"><a href="#">Online Booking and Rate Preferences</a> </div>
                       <p>Choose your online booking options</p>
                    </div>
            
            <div class="col-xs-12 col-md-12">
                <div class="form-title" style="margin-top: 10px"><a href="#">Reply Unavailable Email Template</a></div>
                 <p>Customize the "Unavailable" email template for use when your property is already booked</p>
                    </div>
            
            <div class="col-xs-12 col-md-12">
                       <div class="form-title" style="margin-top: 10px"><a href="#">Reply as Available Email Template</a></div>
                        <p>Customize the "Available" email template for use when your property is available</p>
                    </div>
            
            <div class="col-xs-12 col-md-12">
                       <div class="form-title" style="margin-top: 10px"><a href="#">Request Review Email Template</a></div>
                        <p>Customize the "Request Review" email template for requesting reviews from prior guests</p>
                    </div>
                </div>
</div>