{% extends "CommonBundle:Layout:base.html.twig" %}
 
{% block stylesheets %} {{ parent() }} {% endblock %}

 {% block header %}
 {{ include('CommonBundle:Default:header.html.twig') }}


 {% endblock %}

 {% block body %}
<div class="container">
    <h1 style="padding: 313px 0px">You are in a wrong area. Please Logout</h1>
</div>
 {% endblock %}
 {% block footer %}
 {{ include('CommonBundle:Default:footer.html.twig') }}   
 {% endblock %}
 {% block javascripts %} {{ parent() }} {% endblock %}